/* ID's */
#name {
  font-family: 'copperplate bold', sans-serif;
}

/* classes */
.header {
  font-size: 9rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}
/* carousel */
.carousel-inner {
  width: 40%;
  overflow: hidden;
  margin: 0 500px 0 500px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: #b0b0b0;
  width: 20px;
  height: 20px;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  display: inline;
}

.carousel-control-prev {
  margin-left: 390px;
}

.carousel-control-next {
  margin-right: 360px;
}

/* contact */
.model{
  margin-left: 900px;
  margin-top: -100px;
}

.application, .border-social{
  padding: 10px;
}

.border-social{
  margin-left:450px;
  margin-top: 50px;
}

.border-social, .model{
  height: 100px;
  width: 300px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23B0B0B0FF' stroke-width='1' stroke-dasharray='75%2c180' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.in, .fb, .em{
  margin: 50px;
}

.fa-instagram, .fa-facebook-square, .fa-envelope-square{
  height: 20px;
  width: 20px;
  margin: 0 20px 0 20px;
  color: #b0b0b0;
}

.btn{
  margin-left: 75px;
}

/* tags */
a, a:hover, a:visited {
  text-decoration: none;
}

a{
  color: #b0b0b0;
}

a:hover{
  color: #e8e8e8;
}

body {
  /* background-color: #303840; */
  background: linear-gradient(#B2B0B3, #627574, #303F3F, #292929);
  font-family: "copperplate bold", sans-serif;
}

h4, h6{
  text-align: center;
}

h6{
  font-size: x-small;
}

h1{
  text-shadow: 0 10px 50px rgba(0, 0, 0, 0.4);
}

/* media query */

@media (max-width:600px) {

  .header {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
  }
  .carousel-inner {
    width: 40%;
    overflow: hidden;
    margin:auto;
  }
  .carousel-control-prev {
    margin-left: 12%;
  }
  .carousel-control-next {
    margin-right: 12%;
  }
  .border-social{
    margin-left:100px;
    margin-top: 50px;
  }
  .model{
    margin-left: 100px;
    margin-top: 100px;
  }
  /* body{
    background: #303840;
  } */
}
